/* global Rules */
:root {
  --light-color: #4790fa;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #eee;
}

/* .index-body{
  background: rgb(174,201,238);
  background: radial-gradient(circle, rgba(174,201,238,1) 0%, rgba(200,215,240,1) 58%, rgba(148,187,233,0.2806372549019608) 100%);
} */
p,
h1 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
}

/* Componnent */
.br-red {
  border: 2px solid red;
}

.z-drop {
  z-index: -10;
}

.z-pop {
  z-index: 10;
}

/* Nav */
nav {
  background-color: #313338;
  color: white;
  position: relative;
}

nav .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav p {
  font-weight: 500;
  font-size: 20px;
}

.logo {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav img {
  max-width: 100%;
}

nav button {
  padding: 5px 15px;
  background-color: transparent;
  color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  border-radius: 5px;
  transition: 0.3s;
}

nav button:hover {
  border-color: lightgreen;
  color: lightgreen;
}

.app-nav-btn {
  border: 1px solid red;
  color: red;
}

/* form */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000038;
  transition: 0.3s;
}

.form-con {
  background: rgb(33, 40, 50);
  background: linear-gradient(180deg, rgba(33, 40, 50, 1) 0%, rgba(23, 30, 40, 1) 100%);
  color: white;
  padding: 50px;
  border-radius: 30px;
  max-width: 350px;
  position: relative;
}

form p {
  color: red;
  padding: 0 5px;
}

form.login {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

form button {
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.3s;
}

form button:hover {
  color: var(--light-color);
}

form input {
  padding: 5px 15px;
  border-radius: 10px;
  /* border: px solid black; */
}

.close__login {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;

}

/* main */
main {
  padding-top: 50px;
  min-height: calc(100vh - 58px);
}

main .welcome {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.welcome h1 {
  display: flex;
  align-items: center;
  max-width: 299px;
  font-size: 60px;
  color: var(--light-color);
}

.welcome .img__holder {
  margin: 0;
  padding: 0;
  transform: translate(50px, 0px);
}

.app {
  gap: 30px;
  transition: 0.3;
}

.app .info {
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 25px;
  width: 50%;
}

.app .date {
  gap: 20px;
}

.app select {
  width: 110px;
}

.app .spl {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.app .submit {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.app .production-hrs {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.app .user__numbers {
  color: white;
  text-align: center;
  font-size: 60px;
}

.user__details {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.app .note {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border-color: #e76f51;
  background-color: rgba(231, 111, 81, 0.1);
  transition: 0.3s;
}

.app .note:hover {
  background-color: red;
  color: white;
}

/* Room details */

.room__details {
  width: 55%;
  background-color: white;
  border-radius: 5px;
}

/* footer */
footer {
  text-align: center;
  color: var(--light-color);
  padding: 20px 20px 5px;
}